<h1 style="text-align: center; font-size: 36px;">Set & Dictionary</h1>

## Set
Sets are unordered collections of unique objects. Set is also unindexed. Sets are written with curly brackets `{}`.

**Creating a Set**

In [ ]:
set_a = {1, 2, 3, 4, 5}
print(set_a)
type(set_a)

{1, 2, 3, 4, 5}

set

In [ ]:
# Sets can contain all types of hashable data
set_b = {10, 3.14, "hello", print}
print(set_b)

{10, 3.14, <built-in function print>, 'hello'}

List and any other unhashable data cannot be part of set.

In [1]:
set_c = {10, 20, [30, 40]} # List is not hashable

TypeError: ignored

In [2]:
set_c = {10, 20, (30, 40)} # Tuple is hashable

In [3]:
set_c = {10, 20, {30, 40}} # Set itself cannot be a member of another set

TypeError: ignored

**Length of a Set**

In [ ]:
len(set_a)

5

**Unordered**

Unordered means that the elements of a set do not have ay particular order. Every time you use it or print it, the elements may be in different order.

In [ ]:
print({10, 20}.union({30, 40}))
# You will learn about union later, basically we are adding the sets

{40, 10, 20, 30}

**Unindexed**

Elements do not have any index as they are unordered. So you cannot use indexing or slicing. You can still use loops to access them.

In [ ]:
set_a[1]

TypeError: 'set' object is not subscriptable

**Unique**

All elements of a set should be unique. So you cannot have duplicate elements in the set.

In [6]:
set_c = {10, 20, 10, 30, 40, 20, 10, 50}
print(set_c)

{40, 10, 50, 20, 30}

**Convert to Set**

You can convert other iterable data types to set using `set()`.

In [ ]:
set((10, 20, 30, 20))

{10, 20, 30}

In [ ]:
set([10, 20, 30, 20])

{10, 20, 30}

In [7]:
set("hello")

{'e', 'h', 'l', 'o'}

**Add Elements**

In [ ]:
set_d = {10, 20, 30}
print(set_d)

{10, 20, 30}

In [ ]:
# Add single elements using .add()
set_d.add(40)
print(set_d)

{40, 10, 20, 30}

In [ ]:
# Add multiple elements using .update()
set_d.update({50, 60})
print(set_d)

{50, 20, 40, 10, 60, 30}

In [ ]:
# You can use other iterable data types
set_d.update([40, 15, 70, 80])
print(set_d)

{70, 10, 15, 80, 20, 30, 40, 50, 60}

**Remove Elements**

In [ ]:
# You can remove a single element using .remove()
set_d.remove(15)
print(set_d)

{70, 10, 80, 20, 30, 40, 50, 60}

In [ ]:
# .remove() will cause an error if the element doesn't exist
set_d.remove(9) # KeyError
print(set_d)

KeyError: 9

In [ ]:
# You can remove a single element using .discard() as well
set_d.discard(10)
print(set_d)

{70, 80, 20, 30, 40, 50, 60}

In [ ]:
# .discard() will not cause an error if the element doesn't exist
set_d.discard(5) # No error
print(set_d)

{70, 80, 20, 30, 40, 50, 60}

In [ ]:
# .pop() will remove a random element from the set (it will try to remove first)
print(set_d.pop())
print(set_d)

70
{80, 20, 30, 40, 50, 60}

In [ ]:
# .clear() will remove all elements from the set
set_d.clear()
print(set_d)

set()

In Python, curly brackets is used to for both set and dictionary. However, for empty set and empty dictionary, we cannot use the same syntax. So, empty dictionary is written as `{}` and empty set is written as `set()`.

**Union**

`set_a.union(set_b)` returns a new set with all the elements present in either `set_a` or `set_b`.

In [ ]:
{10, 20, 30}.union({30, 40, 50})

{10, 20, 30, 40, 50}

Keep in mind that `.union()` will not update the original set. If you want to update it, just use `.update()`.

**Intersection**

`set_a.intersection(set_b)` returns a new set with only those elements present in both `set_a` and `set_b`.

In [ ]:
{10, 20, 30, 40}.intersection({30, 40, 50, 60})

{30, 40}

Keep in mind that `.intersection()` will not update the original set. If you want to update it, you can use `.intersection_update()`.

In [ ]:
set_e = {10, 20, 30, 40}
set_e.intersection_update({30, 40, 50, 60})
print(set_e)

{40, 30}

**Difference**

`set_a.difference(set_b)` returns a new set with only those elements present in `set_a` but not in `set_b`.

In [ ]:
{10, 20, 30, 40}.difference({30, 40, 50, 60})

{10, 20}

Keep in mind that `.difference()` will not update the original set. If you want to update it, you can use `.difference_update()`.

In [ ]:
set_e = {10, 20, 30, 40}
set_e.difference_update({30, 40, 50, 60})
print(set_e)

{20, 10}

**Symmetric Difference**

`set_a.symmetric_difference(set_b)` returns a new set with those elements present in either `set_a` or `set_b`, but not in both.

In [ ]:
{10, 20, 30, 40}.symmetric_difference({30, 40, 50, 60})

{10, 20, 50, 60}

Keep in mind that `.symmetric_difference()` will not update the original set. If you want to update it, you can use `.symmetric_difference_update()`.

In [ ]:
set_e = {10, 20, 30, 40}
set_e.symmetric_difference_update({30, 40, 50, 60})
print(set_e)

{10, 50, 20, 60}

**Subset & Superset**

You can use `set_a.issubset(set_b)` to check whether every element of `set_a` is present in `set_b`.

In [ ]:
{30, 40}.issubset({10, 20, 30, 40})

True

You can use `set_a.issuperset(set_b)` to check whether `set_a` contains every element of `set_b`.

In [ ]:
{10, 20, 30, 40}.issuperset({30, 40})

True

**Disjoint**

You can use `set_a.isdisjoint(set_b)` to check whether `set_a` and `set_b` doesn't contain any common elements.

In [ ]:
{10, 20}.isdisjoint({30, 40})

True

**Search in Set**

In [ ]:
10 in {10, 20, 30}

True

In [ ]:
20 not in {10, 30, 40}

True

## Dictionary

Dictionary in Python is used to store data in the form of `key: value` pairs. Dictionaries allow to store and retrieve data using keys. The part before the colon `:` is the key and the part after the colon is the value. These key value pairs separated by a comma make up a dictionary. Dictionaries are unindexed (they do not have a numerical index like list or tuple), unordered and mutable. **Dictionaries cannot have duplicate keys, though they can have duplicate values.**

**Creating a Dictionary**

In [ ]:
marks = {"John": 80, "Arthur": 75, "Jake": 85}

# Can be written as follows
marks = {
    "John": 80,
    "Arthur": 75,
    "Jake": 85
}

In [ ]:
marks = {
    "John": 80,
    "Arthur": 75,
    "Jake": 85,
    "John": 90 # This "John" overwrites the previous one
}
print(marks)
type(marks)

{'John': 90, 'Arthur': 75, 'Jake': 85}

dict

Here, you can see the initial value of `"John": 80` was replaced by `"John": 90` since dictionary cannot contain duplicate keys.

**Length**

In [ ]:
len(marks)

3

**Access Values Using Keys**

In [ ]:
marks["John"] # Get the marks of "John"

90

In [ ]:
marks["Jake"]

85

If the key doesn't exist, you will get a `KeyError`.

In [ ]:
marks["ABCD"]

KeyError: 'ABCD'

You can also access values using `.get(key)`.

In [ ]:
marks.get("Jake")

85

**Add new `key: value` pair & Change value**

In [ ]:
marks

{'John': 90, 'Arthur': 75, 'Jake': 85}

In [ ]:
marks["Dave"] = 75
print(marks)

{'John': 90, 'Arthur': 75, 'Jake': 85, 'Dave': 75}

In [ ]:
# If the key exists, the old value will be overwritten
marks["John"] = 70
print(marks)

{'John': 70, 'Arthur': 75, 'Jake': 85, 'Dave': 75}

**Get all keys, values and items**

In [ ]:
marks

{'John': 70, 'Arthur': 75, 'Jake': 85, 'Dave': 75}

In [ ]:
# List of all keys
marks.keys()

dict_keys(['John', 'Arthur', 'Jake', 'Dave'])

In [ ]:
# List of all values
marks.values()

dict_values([70, 75, 85, 75])

In [ ]:
# List of (key, value) pair tuples
marks.items()

dict_items([('John', 70), ('Arthur', 75), ('Jake', 85), ('Dave', 75)])

**Check if key present in dictionary**

In [ ]:
marks

{'John': 70, 'Arthur': 75, 'Jake': 85, 'Dave': 75}

In [ ]:
"John" in marks

True

In [ ]:
"ABCD" in marks

False

In [ ]:
"ABCD" not in marks

True

**Update dictionary with another dictionary**

In [ ]:
marks

{'John': 70, 'Arthur': 75, 'Jake': 85, 'Dave': 75}

In [ ]:
# Add new key value pairs and overwrite existing keys
marks.update({'John': 90, 'Dave': 95, 'Henry': 68})
print(marks)

{'John': 90, 'Arthur': 75, 'Jake': 85, 'Dave': 95, 'Henry': 68}

**Remove key value pairs**

In [ ]:
# Remove key: value pair using corresponding key
marks.pop("Henry")

68

In [ ]:
marks

{'John': 90, 'Arthur': 75, 'Jake': 85, 'Dave': 95}

In [ ]:
# Remove most recently added key: value pair
# In earlier version of Python 3, popitem() used to remove random key: value pair
marks.popitem()

('Dave', 95)

In [ ]:
marks

{'John': 90, 'Arthur': 75, 'Jake': 85}

**Copy**

In [ ]:
dict_a = {'A': 10, 'B': 20, 'C': 30}
dict_b = dict_a
dict_b['A'] = 100
print(dict_a, dict_b) # dict_a changed even though we altered dict_b

{'A': 100, 'B': 20, 'C': 30} {'A': 100, 'B': 20, 'C': 30}

In [ ]:
dict_a is dict_b # They are the same object

True

In [ ]:
dict_a = {'A': 10, 'B': 20, 'C': 30}
dict_b = dict_a.copy()
dict_b['A'] = 100
print(dict_a, dict_b) # dict_a remains unaltered

{'A': 10, 'B': 20, 'C': 30} {'A': 100, 'B': 20, 'C': 30}

In [ ]:
dict_a is dict_b # They are different objects

False

**Nested Dictionary**

In [ ]:
section = {
    101: {'name': 'Michael', 'marks': 95},
    102: {'name': 'John', 'marks': 90},
    103: {'name': 'Henry', 'marks': 85}
}

In [ ]:
section[101] # Get details of student with roll no. 101

{'name': 'Michael', 'marks': 95}

Here, you can see that the corresponding value of `101` is another dictionary. Furthermore, you can use keys to access the values of the nested dictionary.

In [ ]:
section[101]["name"]

'Michael'

In [ ]:
section[101]["name"][3]

'h'

In [ ]:
section[101]["grade"] = 'A+' # Add new key: value pair inside nested dictionary

In [ ]:
section

{101: {'name': 'Michael', 'marks': 95, 'grade': 'A+'},
 102: {'name': 'John', 'marks': 90},
 103: {'name': 'Henry', 'marks': 85}}

In [ ]:
college = {
    'CSE': {
        1: {
            'A': section, 
            "B": {}
        },
        2: {}
    },
    'ECE': {}
}

In [ ]:
college

{'CSE': {1: {'A': {101: {'name': 'Michael', 'marks': 95, 'grade': 'A+'},
    102: {'name': 'John', 'marks': 90},
    103: {'name': 'Henry', 'marks': 85}},
   'B': {}},
  2: {}},
 'ECE': {}}

In [ ]:
college['CSE'][1]['A'][102]['name'][3]

'n'

In [ ]:
# Unit digit of marks of student with roll 103 in CSE 1st year section 'A'
print(str(college['CSE'][1]['A'][103]['marks'])[-1])
# or,
print(college['CSE'][1]['A'][103]['marks'] % 10)

5
5

**Using `setdefault()`**

In [ ]:
marks = {
    "John": 80,
    "Arthur": 75,
    "Jake": 85
}

`setdefault(key, default)` will give us the corresponding value of a key if that key exists in the dictionary.

In [ ]:
marks.setdefault("John", 40)

80

`setdefault(key, default)` will add a new key value pair with the `default` as the value if that key doesn't exist in the dictionary.

In [ ]:
marks.setdefault("Daniel", 40)

40

In [ ]:
marks

{'John': 80, 'Arthur': 75, 'Jake': 85, 'Daniel': 40}